:root {
    --bird_blue: #1DA1F2;
}

/* svg.r-1nao33i {
    color: rgb(250, 0, 0);
    fill: var(--bird_blue);
} */

/* ACTUAL LOGO CONTAINER */
svg.r-lrsllp path{
    fill: var(--bird_blue);
    color: rgb(250, 0, 0);
    transform: scale(0.088);
    d: path(" m 302 70 a 195 195 0 0 1 -299 175 a 142 142 0 0 0 97 -30 a 70 70 0 0 1 -58 -47 a 70 70 0 0 0 31 -2 a 70 70 0 0 1 -57 -66 a 70 70 0 0 0 28 5 a 70 70 0 0 1 -18 -90 a 195 195 0 0 0 141 72 a 67 67 0 0 1 116 -62 a 117 117 0 0 0 43 -17 a 65 65 0 0 1 -31 38 a 117 117 0 0 0 39 -11 a 65 65 0 0 1 -32 35") !important;
}

/* OUTSIDE CONTAINER */
.r-8kz0gk {
    transform: scale(0.85) !important;
    margin: auto !important;
    justify-content: center !important;
}

.r-19u6a5r {
    color: red !important;
    font-size: 100px !important;
}

.css-1dbjc4n {
    /* font-size: 100px !important; */
}


/* M 630, 425
    A 195, 195 0 0 1 331, 600
    A 142, 142 0 0 0 428, 570
    A  70,  70 0 0 1 370, 523
    A  70,  70 0 0 0 401, 521
    A  70,  70 0 0 1 344, 455
    A  70,  70 0 0 0 372, 460
    A  70,  70 0 0 1 354, 370
    A 195, 195 0 0 0 495, 442
    A  67,  67 0 0 1 611, 380
    A 117, 117 0 0 0 654, 363
    A  65,  65 0 0 1 623, 401
    A 117, 117 0 0 0 662, 390
    A  65,  65 0 0 1 630, 425
    Z */

/* m 302 70 a 195 195 0 0 1 -299 175 a 142 142 0 0 0 97 -30 a 70 70 0 0 1 -58 -47 a 70 70 0 0 0 31 -2 a 70 70 0 0 1 -57 -66 a 70 70 0 0 0 28 5 a 70 70 0 0 1 -18 -90 a 195 195 0 0 0 141 72 a 67 67 0 0 1 116 -62 a 117 117 0 0 0 43 -17 a 65 65 0 0 1 -31 38 a 117 117 0 0 0 39 -11 a 65 65 0 0 1 -32 35 */