body {
    background-color: #00A2F5;
}

.container {
    background-color: white;
    margin: 1px;
    padding: 10px;
    /* outline: 2px solid #00A2F5; */
}

h1 {
    display: inline;
    text-align: center;
    white-space: nowrap;
    font-size: 50px;
}

.slider {
    display: block;
    visibility: hidden;
}

p {
    display: inline;
    font-style: italic;
}